.headercontainer{
    height: 300px;
    width: auto;
    margin-bottom: 25px;
    position: fixed;
    z-index: 999;
    background-color: black;
    color: white;
    right: 0px;
    top: 20%;
    border: 1px solid rgb(90, 87, 87);
}

.option{
    margin-top: 15px;
    padding: 20px 10px;
    cursor: pointer;
    height: auto;
    text-align: center;
    font-size: 12px;
}


.linkoption{
    text-decoration: none;
    color: white;
}

.option:active{
    background-color: gray;
    text-decoration: none;
}
