.contactcontainer{
    width: 100%;
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: calc(10px + 2vmin);
    color:black;
    background-color:white;
}

.contactcontent{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;

    a{
        text-decoration: none;
        color: black;
        font-size: calc(8px + 2vmin);
    }
}

.contactimg{
    width: 35%;
    height: 400px;
    background-image: url("../../assets/carl-heyerdahl-KE0nC8-58MQ-unsplash.jpg");
    background-repeat: repeat;
    background-color: #cccccc;
    background-position: center;
    background-size: cover;  
    opacity: 0.5;
    margin-right: 30px;
}

.contacttitle{
    text-align: center;
}



.contactitem{
    font-family: 'Shadows Into Light', cursive;
    text-align: left;
    display: inline-block;
}
